<h1>Message Sent!</h1>
<div class="success-message">
    <p>Thank you, <strong><%= name %></strong>! Your message has been received.</p>
    <p>I'll get back to you as soon as possible.</p>
</div>
<a href="/" class="btn">â† Back to Home</a>
<a href="/contact" class="btn">Send Another Message</a>